* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b6b7ba;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

header {
    background: #fefefe;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }

   .menu {
    width: 1000px;
    margin: 0 auto;
  }
  
  img {
    width: 120px;
    height: 50px;
    float: left;
    padding: 8px;
  
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }